:root {
  --primary-text-color: #757575;
  --primary-black-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --dark-background-color: #2f303a;
  --light-backgroung-color: #f5f4fa;
}

body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

img {
  display: block;
  max-width: 100%;
}

/* Хедер */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--primary-black-color);
}

.logo-web {
  color: var(--accent-color);
}

.header-list {
  display: flex;
  margin-left: 93px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-link,
.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-black-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-link.current {
  color: var(--accent-color);
}

.link.contact-link {
  color: var(--primary-text-color);
}

.header-link:hover,
.header-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.contact-list {
  display: flex;
  margin-left: auto;
}

.contact-item:not(:last-child) {
  margin-right: 50px;
}

.nav {
  display: flex;
  align-items: center;
}

/* Герой */

.hero {
  background-color: var(--dark-background-color);
  text-align: center;
  margin-bottom: 94px;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  border: none;
}

/* Особенности */

.features {
  margin-bottom: 94px;
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

.features-list {
  display: flex;
}

.features-item-header {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-black-color);
  margin-top: 0;
  margin-bottom: 10px;
}

.features-item-text {
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 0;
}

/* Чем мы занимаемся и Наша команда */

.services {
  margin-bottom: 94px;
}

.services-list {
  display: flex;
}

.services-header {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--primary-black-color);
  margin-top: 0;
  margin-bottom: 50px;
}

.services-item:not(:last-child) {
  margin-right: 30px;
}

.team-header {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--primary-black-color);
  margin-top: 0;
  margin-bottom: 50px;
  /* padding-top: 94px; */
}

.team {
  background-color: var(--light-backgroung-color);
}

.team > .container {
  padding-bottom: 94px;
  padding-top: 94px;
}

.team-list {
  display: flex;
}

.team-item {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-name-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--primary-black-color);
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-name-position {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--primary-text-color);
  margin-top: 0;
  margin-bottom: 30px;
}

/* Футер */

.footer-section {
  background-color: var(--dark-background-color);
}

.footer-section > .container {
  padding: 60px 15px;
}

.footer-logo {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.footer-item > a {
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
  display: block;
}

.link.footer-address {
  color: var(--primary-white-color);
}

.footer-contact:hover,
.footer-contact:focus,
.footer-phone:hover,
.footer-phone:focus {
  color: var(--primary-white-color);
}

/* Проекты */

.projects {
  margin-top: 94px;
  margin-bottom: 94px;
}

.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: inherit;
  color: var(--primary-black-color);
  cursor: pointer;
  background-color: var(--light-backgroung-color);
  border-radius: 4px;
  padding: 6px 22px;
  border: none;
}

.filter-btn.all {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-btn-list {
  margin-bottom: 34px;
}

.project-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-black-color);
  margin-bottom: 4px;
  margin-top: 20px;
}

.project-type {
  font-size: 16px;
  line-height: 1.88;
  margin-top: 0;
  margin-bottom: 0;
}
